<h1>your profile</h1>
<%="name: #{ @profile.name }" %>
<%="username: #{ @profile.username }" %>
<%="location: #{ @profile.location }" %>
<%="bio: #{ @profile.bio }" %>
<%= image_tag @profile.image.url(:thumb) %>
<h3>your photos</h3>
<% if @photos.empty? %>
  no photos yet
<% else %>
  <% @photos.each do |photo| %>
    <%= photo.title %>
    <%= photo.location %>
    <%= photo.image.url(:thumb) %>
  <% end %>
<% end %>
<%= link_to "add a photo", new_user_photos_path %>

