<h1>insta</h1>
<h3>a platform for sharing photos</h3>
<h5>popular photos</h5>
<div id='popular_photos'>
</div>
<h5>recent photos</h5>
<div id="recent_photos">
  <% if @photos %>
    <% @photos.each do |photo| %>
      <%= photo.title %>
      <%= image_tag photo.image.url(:thumb) %>
      <%= link_to 'like', photo_likes_path(photo.id), class: 'likes-link' %>
      <span class="likes_count"> <%= photo.likes.count %> </span> <%= 'like'.pluralize(photo.likes.count) %>
    <% end %>
    <% else %>
      <p>no users yet</p>
  <% end %>
</div>
<h5>popular users</h5>
<div id='popular_users'>
  <% if @profiles %>
    <% @profiles.each do |profile| %>
      <%= link_to profile.username,  user_profile_index_path(profile.user_id) %>
      <%= profile.name %>
      <%= image_tag profile.image.url(:thumb) %>
    <% end %>
    <% else %>
      <p>no users yet</p>
    <% end %>
</div>
<h5>photos for you</h5>
<div id='users_photos'></div>
