<h1>profile</h1>
<%="name: #{ @profile.name }" %>
<%="username: #{ @profile.username }" %>
<%="location: #{ @profile.location }" %>
<%="bio: #{ @profile.bio }" %>
<%= image_tag @profile.image.url(:thumb) %>
<h3>photos</h3>
<% if @photos.empty? %>
  no photos yet
<% else %>
  <% @photos.each do |photo| %>
    <%= photo.title %>
    <%= photo.location %>
    <%= image_tag photo.image.url(:thumb) %>
  <% end %>
<% end %>
<% if @profile.user_id == current_user.id %>
  <%= link_to "add a photo", new_user_photo_path(current_user) %>
<% end %>

